.services {
    width: 100%;
    height: 100%;
    background: black;
    border-radius: 20%;
}

.Title {
    position: relative;
    font-family: 'Lucida Grande';
    font-weight: 800;
    font-size: 20px;
    letter-spacing: 4px;
    color: black;
}

.subTitle {
    position: relative;
    font-family: 'Lucida Grande';
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 2px;
    color: black;
}

.description {
  position: relative;
  font-family: 'Lucida Grande';
  font-weight: 200;
  font-size: 15px;
  /* letter-spacing: 2px; */
  color: black;
}